@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-out forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* ---- */
@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-delay {
    animation: fadeInUp 0.7s ease-out forwards;
  }
}

/* CAROUSEL */

@keyframes slide-up-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-fade {
  animation: slide-up-fade 0.6s cubic-bezier(0.22, 1, 0.36, 1) both;
}

/* END CAROUSEL */

/* PORTOFOLIO */
/* PROJECT */

/* Pastikan CSS ini ada di globals.css atau file CSS utama Anda */
@keyframes card-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card-in {
  animation: card-fade-in-up 0.5s ease-out forwards;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* END PROJECT */

/* SERTIF */
@keyframes card-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Kelas utility untuk menerapkan animasi */
.animate-card-in {
  /* 'forwards' memastikan style di 'to' tetap ada setelah animasi selesai */
  animation: card-fade-in-up 0.5s ease-out forwards;
}
/* END SERTIF */
/* END PORTOFOLIO */